<section class="p-6 min-h-screen">
  <div class="justify-center items-center mx-auto max-w-4xl">
    <div class="flex flex-wrap gap-4 justify-between items-center mb-6 bg-amber-100">
      <!-- Breadcrumb -->
      <div class="text-sm bg-red-50 breadcrumb">
        <%= render Library::BreadcrumbComponent.new(breadcrumb: breadcrumb) if breadcrumb.present? %>
      </div>
      <%# Links to Sites, Samples, Small Finds %>
        <% @attributes[:links].each do |link| %>
          <div class="flex gap-3">
            <%= render Library::ButtonComponent.new(
            label: link[:label],
            path: link[:path],
            variant: link[:variant]
            ) %>
          </div>
        <% end %>
    </div>

    <!-- Card -->
    <div class="overflow-hidden p-4 rounded-lg border border-gray-200 shadow-md">
      <div class="p-2 space-y-4 w-96 bg-green-100">
      <%# Resource Details: Name, ID, Description etc %>
        <% @attributes[:details].each do |item| %>
          <%= item[:label] %>:<%= item[:value] %>
        <% end %>
      </div>
      <div class="mt-6">
        <%# Action buttons: Edit, Delete %>
        <% @attributes[:actions].each do |action| %>
          <%= render Library::ButtonComponent.new(
            label: action[:label],
            path: action[:path],
            variant: action[:variant]
          ) %>
        <% end %>
      </div>
    </div>
  </div>
</section>