<section class="p-6">
  <div class="flex flex-wrap justify-between items-center px-6 py-5 mb-8">
    <h2 class="text-2xl font-bold text-gray-900"> <%= @header %> </h2>
    <%= render @action_button if @action_button.present? %>
  </div>

  <div class="overflow-hidden rounded-xl border border-gray-200 shadow-sm bg-white">
    <%# Header %>
    <div class="flex px-6 py-4 font-semibold text-gray-700 bg-gray-50 border-b border-gray-200">
      <% @columns.each_with_index do |col, index| %>
        <div class="pl-4 flex-1 uppercase text-xs tracking-wide"> <%= col[:label] %> </div>
      <% end %>
    </div>

    <%# Rows %>
    <% @items.each_with_index do |item, row_index| %>
      <div class="flex justify-between px-6 py-4 text-gray-800 border-b border-gray-100 hover:bg-gray-50 transition-colors duration-150 <%= 'bg-gray-25' if row_index.even? %>">
        <% @columns.each_with_index do |col, index| %>
          <% width_class =
            if col[:custom_render]
              "w-1/6"
            elsif index == 0
              "w-1/6"
            else
              "flex-1"
            end
          %>
          <div class="px-4 py-2 flex <%= width_class %>">
            <% if col[:custom_render] %>
              <% @actions.each do |action| %>
                <div class="flex">
                  <% 
                    path_proc = action[:path_proc]
                    path = if path_proc.arity == 2
                      path_proc.call(item.project, item)
                    else
                      path_proc.call(item)
                    end
                  %>
                  <%= render Library::ButtonComponent.new(
                    label: action[:label], 
                    path: path,
                    variant: action[:variant], 
                    method: action[:turbo_method] || {},
                    data: action[:data] || {},
                  ) %>
                </div>
              <% end %>
              <%# Render pic %>
            <% elsif col[:show_picture] %>
              <% if item.photo.attached? %>
                <%= image_tag item.photo, class: "rounded-md object-cover w-24 h-24 block" %>
              <% else %>
                <span class="text-sm italic text-gray-400">No image</span>
              <% end %>
            <% else %>
              <span class="text-sm font-medium text-gray-900">
                <%= item.send(col[:accessor]) %>
              </span>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>