<section class="p-6">
  <div class="flex flex-wrap justify-between items-center px-4 py-5 mb-8">
    <%= render Library::BreadcrumbComponent.new(breadcrumb: @breadcrumb) if @breadcrumb.present? %>
    <%= render @header[:actions][0][:component_proc].call(@header[:items]) %>
  </div>
  <%# wrapper %>
  <div class="p-6 space-y-4 bg-white rounded-2xl border-2 border-gray-200 shadow-sm wrapper min-h-[400px]">
    <%#  %>
    
    <div class="overflow-hidden bg-white rounded-xl border border-gray-200">
      <%# Header %>
      <div class="flex px-6 py-4 font-semibold text-gray-700 bg-white border-b border-gray-300">
        
        <table class="min-w-full divide-y divide-gray-200 table-auto">
          <thead class="bg-green-50">
            <tr  class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
              <% @table[:columns].each do |col| %>
                <th class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                  <%= col[:label] %>
                </th>
              <% end %>
              <% if @table[:actions].present? %>
                <th class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                  Actions
                </th>
              <% end %>
            </tr>
            
          </thead>
          <tbody>
              <% @table[:items].each do |item| %>
                <tr>
                  <% @table[:columns].each do |col| %>
                    <td class="px-6 py-4 text-sm text-gray-700 whitespace-nowrap">
                      <%= item.send(col[:accessor]) %>
                    </td>
                  <% end %>

                  <% if @table[:actions].present? %>
                    <td class="px-6 py-4 space-x-2 text-sm text-gray-700 whitespace-nowrap">
                      <% @table[:actions].each do |action| %>
                        <% path = action[:path_proc].call(item) %>
                        <%= link_to action[:label], path, data: action[:data] %>
                      <% end %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
          </tbody>
        </table>
        
      </div>

      <%# Rows %>
      
      <%# Pagy %>
    </div>
  </div>
  <div class="flex justify-center py-4">
    <%== helpers.pagy_nav(@pagy) if @pagy.present? %>
  </div>
</section>