<section class="p-6">
  <div class="flex flex-wrap justify-between items-center px-4 py-5 mb-8">
    <h2 class="text-lg font-semibold text-gray-800"><%= @title %></h2>
    <%= render Library::BreadcrumbComponent.new(items: @items) if @items.present? %>
  </div>
  <%# wrapper %>
  <div class="p-6 space-y-4 bg-white rounded-2xl border-2 border-gray-200 shadow-sm wrapper min-h-[400px]">
    <%#  %>
    <div class="flex justify-end">
      <%= render @action_button if @action_button.present? %>
      
    </div>
    <div class="overflow-hidden bg-white rounded-xl border border-gray-200">
      <%# Header %>
      <div class="flex px-6 py-4 font-semibold text-gray-700 bg-white border-b border-gray-300">
        <% @columns.each_with_index do |col, index| %>
          <div class="flex-1 pl-4 text-xs tracking-wide uppercase"> <%= col[:label] %> </div>
        <% end %>
      </div>

      <%# Rows %>
      <% @resource.each_with_index do |item, row_index| %>
        <div class=" flex justify-between px-6 py-4 text-gray-800 border-b border-slate-200 hover:bg-slate-50 transition-colors duration-150 <%= 'bg-gray-25' if row_index.even? %>">
          <% @columns.each_with_index do |col, index| %>
            <div class="flex flex-1 items-center px-4 py-2">
              <% if col[:custom_render] %>
                <% @actions.each do |action| %>
                  <div class="flex">
                    <% 
                      path_proc = action[:path_proc]
                      path = if path_proc.arity == 2
                        path_proc.call(item.project, item)
                      else
                        path_proc.call(item)
                      end
                    %>
                    <%= render Library::ButtonComponent.new(
                      label: action[:label], 
                      path: path,
                      variant: action[:variant], 
                      method: action[:turbo_method] || {},
                      data: action[:data] || {},
                    ) %>
                  </div>
                <% end %>
                <%# Render pic %>
                <% elsif col[:show_picture] %>
                <% accessor = col[:picture_accessor] || :photo %>
                <% if item.try(accessor).respond_to?(:attached?) && item.send(accessor).attached? %>
                  <%= image_tag item.send(accessor), class: "rounded-md object-cover w-20 h-20 block" %>
                <% else %>
                  <span class="text-sm italic text-gray-400">No image</span>
                <% end %>
                <% else %>
                <span class="text-sm font-medium text-gray-900">
                  <%= item.send(col[:accessor]) %>
                </span>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
      <%# Pagy %>
    </div>
  </div>
  <div class="flex justify-center py-4">
    <%== helpers.pagy_nav(@pagy) if @pagy.present? %>
  </div>
</section>

