<section class="p-4">
  <div class="flex flex-wrap justify-between items-center px-6 py-4 mb-6">
    <h2 class="text-xl font-semibold text-gray-800"> <%= @title %> </h2>
    <div>
      <%= render @action_button if @action_button.present? %>
    </div>
  </div>

  <div class="rounded-xl border border-slate-300">
    <%# Header %>
    <div class="flex px-6 py-4 font-bold text-gray-800 rounded-t-xl border-slate-200">
      <% @columns.each_with_index do |col, index| %>
        <% width_class =
          if col[:custom_render]
            "w-1/6"
          elsif index == 0
            "w-1/6"
          else
            "flex-1"
          end
        %>
        <div class="pl-4 <%= width_class %>"> <%= col[:label] %> </div>
      <% end %>
    </div>

    <%# Rows %>
    <% @items.each do |item| %>
      <div class="flex justify-between px-6 py-1 text-gray-800 border-t border-slate-200">
        <% @columns.each_with_index do |col, index| %>
          <% width_class =
            if col[:custom_render]
              "w-1/6"
            elsif index == 0
              "w-1/6"
            else
              "flex-1"
            end
          %>
          <div class="px-4 py-2 flex <%= width_class %>">
            <% if col[:custom_render] %>
              <% @actions.each do |action| %>
                <div class="flex">
                  <% 
                    path_proc = action[:path_proc]
                    path = if path_proc.arity == 2
                      path_proc.call(item.project, item)
                    else
                      path_proc.call(item)
                    end
                  %>
                  <%= render Library::ButtonComponent.new(
                    label: action[:label], 
                    path: path,
                    variant: action[:variant], 
                    method: action[:turbo_method] || {},
                    data: action[:data] || {},
                  ) %>
                </div>
              <% end %>
              <%# Render pic %>
            <% elsif col[:show_picture] %>
              <% if item.photo.attached? %>
                <%= image_tag item.photo.variant(resize_to_limit: [150, 150]), class: "rounded-md object-cover w-32 h-32 block" %>
              <% else %>
                <span class="text-sm italic text-gray-400">No image</span>
              <% end %>
            <% else %>
              <%= item.send(col[:accessor]) %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>