<section class="p-6 bg-red-50">
    <div class="flex flex-wrap justify-between items-center px-4 py-5 mb-8">
        <h2 class="text-lg font-semibold text-gray-800"><%= @title %></h2>
        <%= render Library::BreadcrumbComponent.new(items: @items) if @items.present? %>
  </div>
  <%# Main Content Wrapper %>
  <div class="p-6 space-y-4 bg-white rounded-2xl border-2 border-gray-200 shadow-sm wrapper min-h-[400px]">
    <%# Create New Btn %>
    <div class="flex justify-end">
      <%= render @action_button if @action_button.present? %>
    </div>
    <%# Another wrapper %>
    <div class="grid bg-green-50">
        <% @attributes[:columns].each do |col| %>
          <%= col[:label] %>
        <% end %>
        <% @rows.each do |item| %>
          <div class="flex ro">
            <% @attributes[:columns].each do |col| %>
              <div class="bg-amber-50">
                <%= item.send(col[:accessor]) if col[:accessor] %>
                <% if col[:custom_render] %>
                <%# Special col for control btns %>
                  <% @attributes[:actions].each do |action| %>
                    <% if action[:path_proc] %>
                      <% path = action[:path_proc].call(item) %>
                      <%= render Library::ButtonComponent.new(
                        label: action[:label], 
                        path: path,
                        variant: action[:variant], 
                        data: action[:data] || {},
                      ) %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
    </div>
  </div>
</section>