<section>
    <div class="flex flex-wrap justify-between items-center px-6 py-4 mb-6">
        <h2 class="text-xl font-semibold text-gray-800"> <%= @header %> </h2>
        <div class="px-4 py-2 font-medium text-center text-white bg-indigo-400 rounded-lg border w-1/8 hover:bg-indigo-500">
            <%= link_to "Create Project", new_project_path %>
        </div>
    </div>
    <%# Header %>
    <div class="flex px-6 py-2 font-bold text-gray-800 bg-amber-50 rounded-xl border-2 border-slate-200">      
        <% @columns.each do |col| %>
            <div class="border <%= col[:width] %>"> <%= col[:label] %> </div>
        <% end %>
        <div class="w-1/6 border">Actions</div>
    </div>
    <%# Rows %>
    <% @items.each do |item| %>
        <div class="flex justify-between px-6 py-2 text-gray-800 border-b border-slate-200">
            <% @columns.each do |col| %>
                <div class="px-4 py-2 <%= col[:width] %>">
                     <%= item.send(col[:accessor]) %>
                </div>
            <%end%>
            <div class="px-4 py-2 space-x-2 w-1/6">
                <% @actions.each do |action| %>
                    <%= link_to action[:label], action[:path_proc].call(item), action[:html_options] || {} %>
                <%end%>
            </div>
        </div>
    <%end%>
 </section>