<section class="mx-auto max-w-7xl h-screen bg-amber-100">
    <header class="bg-green-50">
        <div class="flex justify-between">
            <h2>Projects</h2>
            <h2><%= link_to "Create Project", new_project_path %></h2>
        </div>
    </header>
    

    <%# Projects list header %>
        <div class="flex justify-around">
            <h2 class="px-6 py-2 bg-green-100">ID</h2>
            <h2>Name</h2>
            <h2>Actions</h2>
        </div>
        <%# Projects list rows %>
        <% @projects.each do |project| %>
            <div class="flex justify-around">
                <p class="px-6 py-2 bg-green-100"><%= project.id %></p>
                <p><%= project.name %></p>
                <div>
                    <%= link_to "View", project_path(project) %>
                    <%= link_to "Edit", edit_project_path(project) %>
                    <%= link_to "Delete", project_path(project), data: {confirm: "Are you sure?", turbo_method: :delete} %>
                </div>
                
            </div>
        <%end%>
        <%# I will need the project info (id, name) to look like a row, if multiple projects many rows. On this row to the left will be id and name, thewn to right view, edit, delete %>
</section>