<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Project Pilot" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    
    <%= stylesheet_link_tag "application.css", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="bg-slate-50">
    <header class="bg-white shadow">
    <div class="px-4 py-4 mx-auto max-w-7xl">
      <h1 class="text-xl font-bold text-gray-800">Project Pilot</h1>
    </div>
  </header>

  <% if notice %>
    <p class="px-4 py-2 text-sm text-green-600 notice"><%= notice %></p>
  <% end %>

  <main class="px-4 py-6 mx-auto my-6 max-w-7xl min-h-screen rounded-2xl border shadow-md border-slate-200">
    <%= yield %>
  </main>
    
  </body>
</html>
